<appSettings>
  <!-- MAIN WINDOW.XAML.CS -->

  <!-- Device Parameters -->
  <add key="widthInMM" value="100"/>
  <add key="heightInMM" value="100"/>
  <add key="locationX" value="1"/>
  <add key="locationY" value="1"/>
  <add key="locationZ" value="1"/>
  <add key="orientation" value="0"/>
  <add key="fieldOfView" value="0"/>
  <add key ="_deviceID" value="12345"/>
  <add key ="_deviceName" value="Image Sending Board"/>
  <add key ="_deviceType" value="Microsoft_Surfaces"/>
  <add key ="_deviceIsStationary" value ="false"/>
  <add key ="observableRange" value ="1"/>
  <add key ="observerType" value ="radial"/>


  <!-- SOD Parameters -->
  <add key="address" value="beastwin.marinhomoreira.com"/>
  <add key="port" value="5432"/>


</appSettings>