<appSettings>
  <!-- MAIN WINDOW.XAML.CS -->

  <!-- Device Parameters -->
  <add key="widthInMM" value="200"/>
  <add key="heightInMM" value="500"/>
  <add key="locationX" value="1"/>
  <add key="locationY" value="1"/>
  <add key="locationZ" value="1"/>
  <add key="orientation" value="0"/>
  <add key="fieldOfView" value="0"/>
  <add key ="_deviceID" value="10"/>
  <add key ="_deviceName" value="ImageBoard"/>
  <add key ="_deviceType" value="Microsoft_Surface"/>
  <add key ="_deviceIsStationary" value ="true"/>
  <add key ="observableRange" value ="1"/>
  <add key ="observerType" value ="radial"/>


  <!-- SOD Parameters -->
  <add key="address" value="beastwin.marinhomoreira.com"/>
  <add key="port" value="5432"/>



</appSettings>